<body>
    <div class="row" id="forms" style="padding 30px; background-color: #E1E1E1; padding: 10px; border-radius: 4px; margin: 5px auto 0">
      <div class="large-12 columns">
        <h1 class="docs-header">Login</h1>  
          <form action="/login" method="post">
            

            <div class="row">
              <div class="large-6 columns">
                <label for="exampleMessage">Username</label>
                  <input name="username" class="username" type="text" placeholder="put your username &hellip;" id="exampleMessage"></input>
              </div>
            </div>

            <div class="row">
              <div class="large-6 columns">
                <label for="exampleMessage">Password</label>
                  <input name="password" class="u-full-width" type="password" placeholder="put your password here"></input>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <input class="button small" type="submit" value="Submit">
              </div>
            </div>

          </form>
        
        </div>
      </div>


    </body>