
 
    <body>
      <div class="row" style="padding 30px; background-color: #E1E1E1; padding: 10px; border-radius: 4px; margin: 5px auto 0">
        <div class="large-12 columns">
          <h1 class="docs-header">Sign up Form</h1>
          <h3>Plese fill out this form to sign up!</h3>
              <form action="/signup" method="post">
            
                <div class="row">
                  <div class="large-6 columns">
                    <label>Your email</label>
                    <input type="text" name="email" placeholder="test@mailbox.com" id="exampleEmailInput">
                  </div>
                </div>
                  
                <div class="row">
                      <div class="large-3 columns">
                        <label for="FirstName">First Name</label>
                          <input type="text" class="firstname" name="firstname" placeholder="David">
                      </div>

                      <div class="large-3 columns end">
                        <label for="Lastname">Last Name</label>
                          <input type="text" class="lastname" name="lastname" placeholder="Yoon">
                      </div>
                </div>
                
                <div class="row">
                  <div class="large-6 columns">
                    <label for="exampleMessage">Username</label>
                    <input type="text" class="username" name="username" placeholder="put your username &hellip;" id="exampleMessage"></input>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-6 columns">
                    <label for="exampleMessage">Password</label>
                      <input name="password" type="password" placeholder="put your password here"></input>
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <input class="button small" type="submit" value="Submit">
                  </div>
                </div>
            </form>
        </div>

    </div>
</body>


    